html {
    scroll-behavior: smooth;
}

body {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#fff5ea;
}

.right-side {
    width: 100%;
}
.main-container {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
}

.section {
    width: 80%;
    margin: auto;
}

.nav {
    display: flex;
    color:#fff;
    text-decoration: none;
    background-color: #928b87;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}
.nav-item {
    flex: 1;
}

.profile-image {
    border-radius: 25px;
    border: 5px solid #feeeda;
    margin: auto;
}
.main-image {
    margin: 30px 90px;
}

.nav_link {
    display: flex;
    color: #f5f5dc;
    text-decoration: none;
    height: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: color .4s;
}
.contact_link {
    text-decoration: none;
    color:#000;
    font-size: 18px;

}
.contact_link:hover,
.nav_link:hover,
 .github-link:hover {
    color: #442b2b;
    transition: 1.5s;
}
.oval {
	width: 180px;
	height: 30px;
	background: rgb(252, 177, 92);
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
}

.section-title {
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #000;
    text-decoration: none;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.section-title-left {
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #000;
    text-decoration: none;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.main-name {
    margin-right: auto;
    font-size: 40px;
    text-transform: capitalize;
    letter-spacing: 2px;
    text-align: center;
    font-weight:700px;
}

.contact {
    margin-left: 0;
    margin-right: 40px;
    list-style-type: none;
    padding-left: 0;
}


.contact_item {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.contact_item::before {
    content:'';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background: no-repeat center / contain;
}
.contact-mail::before {
    background-image: url(./assets/email.svg) ;
}

.contact-github::before {
    background-image: url(./assets/github.svg);
}

.contact-number::before {
    background-image: url(./assets/phone.svg);
}

.contact-discord::before {
    background-image: url(./assets/discord.svg);
}
.list {
    font-size: 20px;
    padding-left: 0;
    padding-bottom: 5px;
}

.list,
.nav {
    list-style-type: none;
}
.list-dot {
    padding-bottom: 5px;
}

.list-dot::before {
    content: '\2022';
    margin-right: 5px;
    color:#4a2c18;
}

.left-side {
    background-color: rgb(123 125 144);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 60%;
    border-radius: 50px;
}

.paragraph {
    margin-bottom: 2px;
    font-size: 20px;
}

.footer-container {
    display:flex;
    align-items:center;
    justify-content:space-around ;
    color: #f5f5dc;
    padding: 7px 0;
    background-color: #928b87;
}
.github-link {
    color: #f5f5dc;
    text-decoration: none;
}

.github-link::before {
    content: '';
    background: url(./assets/github.svg) center / contain no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

.rss-link {
    width: 80px;
    height: 30px;
}
.profile-name {
    margin: auto;
    text-align: center;
}
.footer {
    background-color: #836551;
    max-width: 100%;
}

@media (max-width: 768px) {
    .section {
      width: 100%;
    }
    .main-image {
        margin: 0 auto;
    }
}